.not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.not-found-code {
  font-size: 5rem;
  font-weight: bold;
  color: #e447a2;
}

.not-found-message {
  font-size: 1.5rem;
  color: #555;
}

.not-found-link {
  margin-top: 20px;
  padding: 10px 20px;
  background: linear-gradient(to right, #e447a2, #9b35e3);
  color: white;
  text-decoration: none;
  border-radius: 20px;
  font-weight: bold;
  transition: 0.3s;
}

.not-found-link:hover {
  opacity: 0.8;
}
